### IntelliJ IDEA ###
out/
.idea/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore JSON files (configuration or sensitive data)
*.json

# Ignore log files (temporary debug information)
*.log

# Bỏ qua tất cả các file .class (file biên dịch Java)
*.class

# Bỏ qua file test report và output
test-output/
*.xml

# Bỏ qua tất cả file build tự động
*.tmp
*.out

# Bỏ qua thư mục build nếu có
/build/